.App {
  background-color: #121212;
  min-height: 100vh;
  text-align: center;
}

.date-picker {
  padding: 15px;
  color: black;
}
.body-container {
  padding-top: 15px;
  padding-bottom: 400px;
}

.Nav {
  position: absolute;
  margin: 0;
  padding: 50px;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
}

.selected-date {
  color: white;
}

.main-header{
  color: white;
  
} 

.results-text {
  color: white;
  
} 
